trigger:
  branches:
    include:
    - main
    - release/*
  tags:
    include:
    - v*
  paths:
    exclude:
    - .azuredevops/**
    - global.json
    - sample/**
    - LICENSE
    - README.md

pr:
  branches:
    include:
    - main
    - release/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

stages:
- stage: Build
  displayName: 'Build and test'
  jobs:
  - job: BuildJob
    displayName: 'Build library and run tests'
    steps:
    - checkout: self
      fetchDepth: 0
      fetchTags: true

    - task: UseDotNet@2
      displayName: 'Install .NET SDK'
      inputs:
        packageType: 'sdk'
        useGlobalJson: true
        performMultiLevelLookup: true

    - task: DotNetCoreCLI@2
      displayName: 'Install MinVer tool'
      inputs:
        command: 'custom'
        custom: 'tool'
        arguments: 'install --global minver-cli'

    - bash: |
        VERSION=$(minver -m 0.1 -p preview --tag-prefix v)
        echo "Calculated version: $VERSION"
        echo "##vso[task.setvariable variable=PackageVersion;isOutput=true]$VERSION"
        if [[ "$VERSION" == *"-preview."* ]]; then
          echo "Building a preview version"
          echo "##vso[task.setvariable variable=IsPreview;isOutput=true]true"
        else
          echo "Building a stable version"
          echo "##vso[task.setvariable variable=IsPreview;isOutput=true]false"
        fi
      name: CalculatePackageVersion
      displayName: 'Calculate package version'
    
    - task: DotNetCoreCLI@2
      displayName: 'Restore NuGet packages'
      inputs:
        command: 'restore'
        projects: '**/Toxiproxy.Client.slnx'
    
    - task: DotNetCoreCLI@2
      displayName: "Build solution"
      inputs:
        command: 'build'
        arguments: '--configuration $(buildConfiguration) --no-restore'
        projects: '**/Toxiproxy.Client.slnx'
    
    - task: DockerCompose@1
      displayName: 'Start containers for tests'
      inputs:
        containerregistrytype: 'Container Registry'
        projectName: 'toxiproxy-client'
        action: 'Run a Docker Compose command'
        dockerComposeCommand: 'up -d'
    
    - task: DotNetCoreCLI@2
      displayName: 'Run tests'
      inputs:
        command: 'test'
        projects: '**/Toxiproxy.Client.Tests.csproj'
        arguments: '--configuration $(buildConfiguration) --no-build --no-restore'
        publishTestResults: true

    - task: DockerCompose@1
      displayName: 'Stop containers for tests'
      inputs:
        containerregistrytype: 'Container Registry'
        projectName: 'toxiproxy-client'
        action: 'Run a Docker Compose command'
        dockerComposeCommand: 'down -v'
      condition: always()

    - task: DotNetCoreCLI@2
      displayName: 'Create NuGet package'
      inputs:
        command: 'pack'
        packagesToPack: '**/Toxiproxy.Client.csproj'
        configuration: '$(buildConfiguration)'
        nobuild: true
        versioningScheme: 'byEnvVar'
        versionEnvVar: 'CalculatePackageVersion.PackageVersion'

    - task: PublishPipelineArtifact@1
      displayName: Publish NuGet package artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)'
        artifact: 'NuGetPackage'
        publishLocation: 'pipeline'

- stage: PublishRelease
  displayName: 'Publish package to NuGet.org'
  dependsOn: Build
  condition: |
    and(
      succeeded(), 
      ne(variables['Build.Reason'], 'PullRequest'),
      or(
        eq(variables['Build.Reason'], 'Manual'),

        and(
          eq(variables['Build.SourceBranch'], 'refs/heads/main'),
          eq(dependencies.Build.outputs['BuildJob.CalculatePackageVersion.IsPreview'], 'true')
        ),

        and(
          startsWith(variables['Build.SourceBranch'], 'refs/tags/v'),
          eq(dependencies.Build.outputs['BuildJob.CalculatePackageVersion.IsPreview'], 'false')
        )
      )
    )
  variables:
    PackageVersion: $[ stageDependencies.Build.BuildJob.outputs['CalculatePackageVersion.PackageVersion'] ]
  jobs:
  - deployment: PublishNuGet
    displayName: 'Publish to NuGet.org'
    environment:
      name: 'NuGet Feed'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: none
          
          - download: current
            artifact: NuGetPackage
            displayName: 'Download artifacts'

          - bash: |
              PACKAGE_VERSION="${VERSION#v}"
              PACKAGE_ID=$(echo "ToxiProxy.Client" | tr '[:upper:]' '[:lower:]')
              NUGET_PACKAGE_URL="https://api.nuget.org/v3-flatcontainer/$PACKAGE_ID/$PACKAGE_VERSION/$PACKAGE_ID.nuspec"

              echo "Checking on NuGet.org for package URL: $NUGET_PACKAGE_URL"
              if curl -s --fail "$NUGET_PACKAGE_URL" > /dev/null; then
                echo "Version $VERSION already exists on NuGet.org"
                echo "##vso[task.setvariable variable=VersionExistsOnNuGet]true"
              else
                echo "Version $VERSION does NOT exist on NuGet.org"
                echo "##vso[task.setvariable variable=VersionExistsOnNuGet]false"
              fi
            env:
              VERSION: $(PackageVersion)
            displayName: 'Check if version exists on NuGet.org'
          
          - task: DotNetCoreCLI@2
            displayName: 'Push to NuGet.org'
            inputs:
              command: 'custom'
              custom: 'nuget'
              arguments: push "$(Pipeline.Workspace)/NuGetPackage/*.nupkg" 
                --source https://api.nuget.org/v3/index.json 
                --api-key $(NuGetApiKey) 
                --skip-duplicate

